
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>
<html>
<body>

	<div class="container">
		<h1><u>About Us</u></h1>
		<div class="person">
			<img src="MatthewVlok.jpg" alt="Matthew">
			<h2>Matthew Vlok</h2>
			<h3><i>Project Leader/Full Stack Developer</i></h3>
			<p>...Type about me here...</p>
		</div>
		<div class="person">
			<img src="DanielGibson.jpg" alt="Daniel">
			<h2>Daniel Gibson</h2>
			<p>...Type about me here...</p>
		</div>
		<div class="person">
			<img src="BrandonMirams.jpg" alt="Brandon">
			<h2>Brandon Mirams</h2>
			<p>...Type about me here...</p>
		</div>
		<div class="person">
			<img src="SikholweMdekazi.jpg" alt="Sikholwe">
			<h2>Sikholwe Mdekazi</h2>
			<p>...Type about me here...</p>
		</div>
		<div class="person">
			<img src="DylanEales.jpeg" alt="Dylan">
			<h2>Dylan Eales</h2>
			<p>...Type about me here...</p>
		</div>
	</div>
</body>
</html>
