
@{
    ViewData["Title"] = "ContactUs";
}



 <h1 style="text-align: center;">Contact Our Team</h1>
<html>
<body>

    <form action="https://formsubmit.co/mvlok2001@gmail.com" method="POST">
        <label for="email">Email Address: </label> <p><b>Matthew Vlok's email address</b></p>
        <input type="email" name="email" id="email" placeholder="Email Address" required>

        <label for="message"> Message: </label>
        <textarea name="message" id="message" rows="10" placeholder="Type your message here..." required></textarea>

        <button type="submit">Send</button>
    </form>

    <br>

    <form action="https://formsubmit.co/danielgibson.pe@gmail.com" method="POST">
        <label for="email">Email Address: </label> <p><b>Daniel Gibson's email address</b></p>
        <input type="email" name="email" id="email" placeholder="Email Address" required>

        <label for="message">Message: </label>
        <textarea name="message" id="message" rows="10" placeholder="Type your message here..." required></textarea>

        <button type="submit">Send</button>
    </form>

    <br>

    <form action="https://formsubmit.co/jokwanasikholwe@gmail.com" method="POST">
        <label for="email">Email Address: </label> <p><b>Sikholwe Mdekazi's email address</b></p>
        <input type="email" name="email" id="email" placeholder="Email Address" required>

        <label for="message">Message: </label>
        <textarea name="message" id="message" rows="10" placeholder="Type your message here..." required></textarea>

        <button type="submit">Send</button>
    </form>

<form action="https://formsubmit.co/mvlok2001@gmail.com" method="POST">
    <label for="email">Email Address: </label> <p><b>Brandon Mirams email address</b></p>
    <input type="email" name="email" id="email" placeholder="Email Address" required>

    <label for="message"> Message: </label>
    <textarea name="message" id="message" rows="10" placeholder="Type your message here..." required></textarea>

    <button type="submit">Send</button>
</form>

<form action="https://formsubmit.co/mvlok2001@gmail.com" method="POST">
    <label for="email">Email Address: </label> <p><b>Dylan Eales email address</b></p>
    <input type="email" name="email" id="email" placeholder="Email Address" required>

    <label for="message"> Message: </label>
    <textarea name="message" id="message" rows="10" placeholder="Type your message here..." required></textarea>

    <button type="submit">Send</button>
</form>
</body>
</html>
