@model VaccineWebApp.Models.VaccineTypeModel

<head>
    <link rel="stylesheet" href="~/css/VaccineHome.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" asp-action="Update">
                    <input asp-for="TypeID" hidden />
                    <div class="border p-3">
                        <div class="form-group row">
                            <h2 class="text-black-50 pl-3">Update Vaccine Type</h2>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TypeName" class="form-label">Vaccine Type Name:</label>
                            <input asp-for="TypeName" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description:</label>
                            <input asp-for="Description" class="form-control" required />
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-info">Update</button>
                            <a asp-action="HomeVaccineType" class="btn btn-danger">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
