@model VaccineWebApp.Models.VaccinationBookingModel

<head>
    <link rel="stylesheet" href="~/css/VaccineHome.css" asp-append-version="true" />
</head>


<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add New Booking</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="form-floating mb-3">

                        <input asp-for="PatientID" class="form-control" aria-required="true" />

                        <label asp-for="PatientID">Patient ID: </label>

                    </div>

                    <div class="form-floating mb-3">

                        <input asp-for="VaccineID" class="form-control" aria-required="true" required />

                        <label asp-for="VaccineID">Vaccine ID: </label>

                    </div>

                  <div class="col-4" style=" width: 100% ">
                    <label asp-for="BookingDate" style=" color: grey">Booking Date: </label>
                    <input asp-for="BookingDate" height="10px" type="datetime-local" class="form-control" id="datepicker" />
                  </div>

                    <div class="form-floating mb-3">

                        <input asp-for="DoseNumber" class="form-control" aria-required="true" required />

                        <label asp-for="DoseNumber">Vaccine Dose Number:  </label>

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-2 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-75" value="Add" />
                    </div>
                    <div class="col">
                        <a asp-action="HomeBooking" class="btn btn-danger w-75">Back</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@* Add the following script at the bottom of the file: *@
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                minDate: 0, // restrict dates to be selected from today onwards
            });
        });

      
        });
    </script>
}
